body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
  font-size: medium;
  background-color: #f8f8f8;
}

header,
footer {
  background-color: #9d9797;
  padding: 10px 0;
  text-align: center;
}

h1,
h2,
h3 {
  color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

a:visited {
  color: #6f42c1;
}

a:active {
  color: #d63384;
}

ul {
  padding-left: 20px;
}

blockquote {
  border-left: 3px solid #ccc;
  margin: 10px 0;
  padding-left: 20px;
  font-style: italic;
}
